In [2]:
import json
import pandas as pd

In [4]:
with open('/tmp/distances.json') as f:
    distances = json.load(f)

distances = pd.DataFrame(distances)

In [6]:
distances.sort_values('roundtrip_distance')

   subject_id  roundtrip_distance
4      731677            0.052324
57     753966            0.062801
91     786840            0.063011
19     819722            0.065431
23     729527            0.066138
..        ...                 ...
60     751470         5540.203477
34     733838         5543.819166
85     744244         5546.906442
81     752703         6064.496993
64     734858         8497.823657

[100 rows x 2 columns]

In [7]:

from deep_ccf_registration.metadata import AcquisitionAxis


def _parse_orientation(axes: list[AcquisitionAxis]):
    axes = sorted(axes, key=lambda x: x.dimension)
    return ''.join([x.direction.value[0] for x in axes])